.header__container {
    justify-content: flex-start !important;
    height: 60px;
    .header__nav {
        font-size: 2.4rem;
        font-weight: 700;
        margin-right: 36px;
        &:hover {
            cursor: pointer;
        }
    }
    .title {
        .nav-title {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
}
